body{
	margin:0;
	font-family: tahoma, arial,"Hiragino Sans GB", "Microsoft Yahei", \5b8b\4f53, sans-serif;
	color: #333;
	background-color: #fff;
}
.x-form{
	display: block;
	font-size: 12px;
	line-height: 18px;
	margin:0 18px;
	list-style: none;
}
.x-form table{
	border: 1px solid #e6e6e6;
	border-collapse: separate;;
	border-left:0;
	border-radius: 2px;
	width: 100%;
	margin-bottom: 18px;
	max-width:100%;
	background-color:transparent;
	border-spacing: 0;
	display: table;
}

.x-pagination li {
    float: left;
}
.x-pagination a{

}
.x-pagination ul{
	width: 100%;
}
