table {
    width: 100%;
    border-collapse: collapse;
    border-left: 0;
    border-spacing: 0;
    border: 0px;
    background-color: transparent;
    text-align: center;
}


/*------------------------table-blue-----------------*/
.x-table-blue tr {
    height: 34px;
}
.x-table-blue td{
  border: 1px solid #e6e6e6;
}
.x-table-blue th {
    border: 0px;
    background: #0A79D2;
    color: #fff;
}


/* table-样式grey */
.x-table-grey tr {
    height: 34px;
}
.x-table-grey th {
    border: 0px;
    background: #e6e6e6;
}
.x-table-grey td {
     border: 1px solid #e6e6e6;
}

